pipeline/ingest_api_data_Param.json
{
	"name": "ingest_api_data_Param",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currency_list",
					"value": {
						"value": "@pipeline().parameters.currencyparam",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Fail1",
				"description": "Invalid currency",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": "Invalid currency",
					"errorCode": "1"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('currency_list')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Currency API",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://v6.exchangerate-api.com/v6/a3155d8af3ba01eef3bc598c/latest/',item())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "WriteintoFile",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Wait2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"additionalColumns": [
										{
											"name": "currency",
											"value": {
												"value": "@string(item())",
												"type": "Expression"
											}
										},
										{
											"name": "webjson",
											"value": {
												"value": "@string(activity('Currency API').output)",
												"type": "Expression"
											}
										}
									],
									"query": "Select 1 as dummy"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "MySqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Currency API",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						},
						{
							"name": "Fail2",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Currency API",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "Invalid Currency code",
								"errorCode": "2"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"currencyparam": {
				"type": "array",
				"defaultValue": [
					"QAR",
					"INR",
					"USD",
					"AED"
				]
			},
			"fikename": {
				"type": "string",
				"defaultValue": "currencydata"
			}
		},
		"variables": {
			"currency_list": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-06T17:29:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}